html {
    background-color: white;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s ease-in-out;
    background-color: #F3EEEA;
    font-family: vazirmatn;
}

/* body {
    direction: rtl;
} */

h1 {
    margin-top: 2rem;
    font-weight: 800;
}

.theme {
    display: flex;
    align-items: center;
    position: absolute;
    top: 2%;
    right: 3%;
    flex-direction: row-reverse
}

.theme p {
    margin: 0 10px;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}

.head h1 {
    margin-bottom: 1rem;
}

.inputs {
    position: relative;
    background-color: #B0A695;
    padding: 5px 5px;
    border-radius: 10px;
}

.inputs span {
    background-color: rgb(237, 237, 237);
    border-radius: 10px;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    position: absolute;
    right: .6rem;
    top: 18%;
    font-weight: 900;
    color: #B0A695;
}

.inputs input {
    width: 13.5rem;
    border: none;
    border-radius: 10px;
    padding: 0.9rem 2rem;
    background-color: #fcfcfc;
}

::placeholder {
    font-weight: 600;
    color: #dcdcdc;
}

.lists {
    position: relative;
    width: 18.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

li {
    list-style-type: none;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: hsl(38,45%, 88%);
    border-radius: 10px;
    width: 17rem;
    transition: 200ms ease-in-out;
    border: 1px solid #B0A695;
}

li:hover {
    transform: scale(1.05);
}

li h3 {
    flex: 1;
    margin: 0;
    cursor: pointer;
    margin-left: 10px;
}

li span {
    cursor: pointer;
    font-size: 0.8rem;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 1s cubic-bezier(0.61, 0.05, 0.41, 1.01);
    color: white;
    background-color: #B0A695;
    border-radius: 20%;
}

li span:hover {
    color: red;
    transform: rotate(360deg);
    font-size: large;
    font-weight: 800;
}

.completed {
    color: rgb(63, 63, 63);
    background-color:#B0A695;
    position: relative;
    font-size: small;
}

.completed span {
    font-size: medium;
    color: white;
    box-shadow: 0 0 5px 0px rgb(127, 0, 0);
    transform: rotate(360deg);
}

.completed h3 {
    text-decoration: line-through rgba(255, 0, 0, 0.4) wavy;
}

.completed::after {
    content: " ✔ Done";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
    background-color: #358320;
    padding: 5px 10px;
    border-radius: 5px;
}

/* -------  dark mode  ------ */

html.dark-mode {
    color: #f0f0f0;
    background-color: #333;
}

html.dark-mode body {
    color: #f0f0f0;
    background-color: #333;
}

html.dark-mode .inputs {
    background-color: #222;
    box-shadow: none;
}

html.dark-mode .inputs input {
    background-color: #333;
    color: aliceblue;
}

html.dark-mode .inputs span {
    background-color: #222;
    color: #12adad;
}

/* ------------------------------------------------------- */

html.dark-mode .lists li {
    background-color: #666;
    border: 1px inset rgba(0, 157, 157, 0.4);
}

html.dark-mode .completed:not(span) {
    color: rgb(133, 133, 133);
    background-color: rgb(61, 61, 61);
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

html.dark-mode li span {
    background-color: #3d3d3d;
}

html.dark-mode .completed span {
    background-color: #3d3d3d;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

html.dark-mode .completed::after {
    content: " ✔ Done";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
    background-color: #2b651b;
    padding: 5px 10px;
    border-radius: 5px;
}

/* ---------------------------------------- */

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border: 1px solid rgba(138, 138, 138, 0.248);
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 20px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #009d9d;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
